.citat{
  background-color: #DD7777;
  padding: 2rem;
  margin-right: 50rem;
  border: 1px solid #FF0000;
}

.cont{
  text-align: center;
}

figure{
  display: flex;
  justify-content: flex-end;
}

img{
  border-radius: 10px;
  height: 18rem;
}

border{
  color: #FF0000;
}

.container{
  background-color: rgb(220,70,70);
  padding-bottom: 1rem;
}

body {
  background-image: url('../img/Wiki-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
